.item {
  color: rgb(54, 54, 54);
  height: 35px;
  width: 200px;
  outline: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  border-bottom: 2px solid rgb(238, 238, 238);
  background-color: #fff;
  cursor: pointer;
  z-index: 10000;
}
