.navWrapper {
    width: 100vw;
    height: 40px;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:fixed;
    .divTitle {
        text-align: center;
        font-size: 24px;
        color: purple;
    }
    ul {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
       
    }
    li {
        text-align: center;
        width: 33%;
    }

}

